@model CuaHangThietBiDienTu.Context.THUONGHIEU

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2 style="text-align:center">Xóa thương hiệu</h2>
    <h3>Bạn có chắc muốn xóa?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Tên thương hiệu
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TENTHUONGHIEU)
            </dd>

            <dt>
                Quốc gia
            </dt>

            <dd>
                @Html.DisplayFor(model => model.QUOCGIA)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Xóa" class="btn btn-danger" /> |
                @Html.ActionLink("Trở về trang danh sách", "Index")
            </div>
        }
    </div>
</div>


